*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
  font-family: "Lato", serif;
  font-style: normal;
}
.gradian_button{
    background: rgb(228,183,84);
    background: linear-gradient(
      90deg,
      rgba(206, 157, 58, 1) 0%,
      rgba(237, 206, 90, 1) 100%
    );
}
.gradian_color{
    background: rgb(228,183,84);
    background: linear-gradient(100deg, rgba(228,183,84,1) 0%, rgba(196,140,47,1) 100%);
}
/* this is heros section */
.heros_bg{
    background-image: url(../img/banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
   
}
.height-heros{
    min-height: 100vh;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.nav_style{
  gap: 35px;
}
.hero_fw{
  font-size: 61px;
  font-weight: 558;
}
.heros_font{
  color:#d7ab44;
}
/* this is 2nd section */
.fw-2nd{
  font-weight: 838;
  font-size: 41px;
  color: #000000;
}
.fw-card{
  font-weight: bold;
}
.img-bg{
  background-color: #000000;
}  
/* this is 3rd section  */
.white-line{
    width: 30%; 
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
}
.fw-3th{
  font-weight: 838;
  color: #ffffff;
  font-size: 43px;
}
.fw-sec3-p{
  font-size: 25px;
  color: #ffffff;
}
/* this is 4th section */
.gradient-line {
    width: 10%; 
    height: 4px;
    background: rgb(228,183,84);
    background: linear-gradient(100deg, rgba(196,140,47,1) 0%  rgba(228,183,84,1) 100%,);
    border-radius: 2px;
}
.fw-4th{
  font-weight: 838;
  color: #000000;
  font-size: 44px;
}
.fw-4th-p{
  font-size: 24px;
  color: #000000;
}
/* this is 5th section */
.bg-5th{
    background-image: url(../img/darkbg\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fw-5th{
  font-weight: 838;
  color: #ffffff;
  font-size: 44px;
}
/* slider */
.card {
    background: linear-gradient(to bottom, #d4af37, #b8860b);
    border: none;
    color: #000;
    margin: 10px;
    padding: 10px;
  } 
  .card-body {
    padding: 20px;
  } 
  .carousel_fw{
    color: #ffffff;
  } 
  .bi-star-fill{
    color: #ffffff;

  }
  .custom-icon-prev, .custom-icon-next {
    color: #ffd700;
    font-size: 2rem;
  }  
  .custom-icon-prev:hover, .custom-icon-next:hover {
    color: #ff8c00;
  }
  /* this is 6th section accordion */
  .accordion-button::after {
    color: #ffd700;
  }
  .accordion-item {
    border: 1px solid #ffd700;
    border-radius: 5px;
  }
  .accordion-button:not(.collapsed) {
    color: #141619;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}
.fw-6th{
  font-weight: 838;
  color: #000000;
  font-size: 44px;
}
/* this is 7th section */
.bg_7th{
    background: rgb(12,12,12);
    background: linear-gradient(0deg, rgba(12,12,12,1) 70%, rgba(245,245,245,1) 30%);
}
.bg-7th_child{
    background-image: url(../img/ctabox\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #EDCE5A;
    text-decoration: none;
}
.acc-btn-fw{
  font-size: 24px;
  color: #000000;
}
.acc-fw{
  font-size: 19px;
  color: #000000;
}
.fw-7th{
  font-weight: 838;
  color: #ffffff;
  font-size: 42px;
  padding: 30px;
}
.footer_fw{
  color: #d4af37;
  font-size: 32px;
}
/* icon  */
.bi-envelope-fill , .bi-facebook , .bi-twitter-x , .bi-instagram , .bi-youtube{
    color: #EDCE5A;
    font-size: 30px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav_style{
    gap: 5px;
  }
  .hero_fw{
    font-size: 41px;
    font-weight: 558;
  }
  .fw-2nd{
    font-weight: 838;
    font-size: 31px;
    color: #000000;
  }
  .fw-3th{
    font-weight: 838;
    color: #ffffff;
    font-size: 31px;
  }
  .fw-4th{
    font-weight: 838;
    color: #000000;
    font-size: 31px;
  }
  .fw-5th{
    font-weight: 838;
    color: #ffffff;
    font-size: 31px;
  }
  .fw-6th{
    font-weight: 838;
    color: #000000;
    font-size: 31px;
  }
  .fw-7th{
    font-weight: 838;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav_style{
    gap: 15px;
  }
  .hero_fw{
    font-size: 51px;
    font-weight: 558;
  }
  .fw-2nd{
    font-weight: 838;
    font-size: 31px;
    color: #000000;
  }
  .fw-3th{
    font-weight: 838;
    color: #ffffff;
    font-size: 20px;
  }
  .fw-sec3-p {
    font-size: 13px;
    color: #ffffff;
  }
  .fw-4th{
    font-weight: 838;
    color: #000000;
    font-size: 31px;
  }
  .fw-5th{
    font-weight: 838;
    color: #ffffff;
    font-size: 31px;
  }
  .fw-6th{
    font-weight: 838;
    color: #000000;
    font-size: 31px;
  }
  .fw-7th{
    font-weight: 838;
    color: #ffffff;
    font-size: 31px;
    padding: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav_style{
    gap: 15px;
  }
  .hero_fw{
    font-size: 55px;
    font-weight: 558;
  }
  .fw-2nd{
    font-weight: 838;
    font-size: 31px;
    color: #000000;
  }
  .fw-3th{
    font-weight: 838;
    color: #ffffff;
    font-size: 20px;
  }
  .fw-sec3-p {
    font-size: 13px;
    color: #ffffff;
}
  .fw-4th{
    font-weight: 838;
    color: #000000;
    font-size: 31px;
  }
  .fw-5th{
    font-weight: 838;
    color: #ffffff;
    font-size: 31px;
  }
  .fw-6th{
    font-weight: 838;
    color: #000000;
    font-size: 31px;
  }
  .fw-7th{
    font-weight: 838;
    color: #ffffff;
    font-size: 31px;
    padding: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav_style{
    gap: 25px;
  }
  .hero_fw{
    font-size: 61px;
    font-weight: 558;
  }
  .fw-2nd{
    font-weight: 838;
    font-size: 41px;
    color: #000000;
  }
  .fw-3th{
    font-weight: 838;
    color: #ffffff;
    font-size: 43px;
  }
  .fw-sec3-p {
    font-size: 20px;
    color: #ffffff;
  }
  .fw-4th{
    font-weight: 838;
    color: #000000;
    font-size: 44px;
  }
  .fw-5th{
    font-weight: 838;
    color: #ffffff;
    font-size: 44px;
  }
  .fw-6th{
    font-weight: 838;
    color: #000000;
    font-size: 44px;
  }
  .fw-7th{
    font-weight: 838;
    color: #ffffff;
    font-size: 42px;
    padding: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav_style{
    gap: 35px;
  }

  .hero_fw{
    font-size: 61px;
    font-weight: 558;
  }
  .fw-2nd{
    font-weight: 838;
    font-size: 41px;
    color: #000000;
  }
  .fw-3th{
    font-weight: 838;
    color: #ffffff;
    font-size: 43px;
  }
  .fw-sec3-p {
    font-size: 25px;
    color: #ffffff;
  }
  .fw-4th{
    font-weight: 838;
    color: #000000;
    font-size: 44px;
  }
  .fw-5th{
    font-weight: 838;
    color: #ffffff;
    font-size: 44px;
  }
  .fw-6th{
    font-weight: 838;
    color: #000000;
    font-size: 44px;
  }
  .fw-7th{
    font-weight: 838;
    color: #ffffff;
    font-size: 42px;
    padding: 10px;
  }
}